<li [ngClass]=" {
                'list-group-item': true,
                'list-group-item-success' : post.loveIts > 0,
                'list-group-item-danger' : post.loveIts < 0
                }">

  <h3> {{ post.title }} <span class="float-right text-secondary font-italic small"> {{ post.created_at | date: "short"  }} </span></h3>
  
  <p> {{ post.content }} </p>

  <button class="btn btn-success mr-2" (click)="onLike()">Love it!</button> 
  <button class="btn btn-danger" (click)="onDislike()">Don't love it!</button>
  <button class="btn btn-danger float-right" (click)="onDeletePost(Post)">Supprimer post</button>
  <div><i> Total like : {{ post.loveIts }} </i></div>
  

</li>